<div class="relative isolate -z-10 px-6 pt-0 lg:px-8">
  <div class="mx-auto max-w-2xl py-2 sm:py-0 lg:py-0">
    <div class="hidden sm:mb-8 mt-1 sm:flex sm:justify-center">
      <div
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
        translate>
      home.hero.donation.title
        <a href="#" class="font-semibold text-indigo-600"
          ><span class="absolute inset-0" aria-hidden="true"></span>
          <span aria-hidden="true" translate>home.hero.donation</span></a
        >
      </div>
    </div>
    <div class="text-center py-5 pb-10">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"translate>
        home.hero.title
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600" translate>
        home.hero.description
      </p>

    </div>
  </div>
</div>
