<div class="Wraper">
  <div class="navbar rounded-lg navbar-floating">
    <div class="navbar-start">
      <div class="avatar avatar-ring avatar-md">
        <label class="btn btn-ghost flex cursor-pointer px-0" tabindex="0">
          <img
            src="https://i.pravatar.cc/150?u=a042581f4e29026024d"
            alt="avatar"
          />
        </label>
      </div>
      <a class="navbar-item" href="/" translate>nabar.logo</a>
    </div>
    <div class="navbar-center hidden lg:flex divide-x">
      <a class="navbar-item" href="/" translate>navbar.home</a>
      <a class="navbar-item" href="/about" translate>navbar.about</a>
      <a class="navbar-item" href="/contact" translate>navbar.contact</a>
      <a class="navbar-item" href="/events" translate>navbar.events</a>
      <a class="navbar-item" href="/ministries" translate>navbar.ministries</a>
      <a class="navbar-item" href="/sermons" translate>navbar.sermons</a>
    </div>

    <div class="navbar-end">
      <div class="dropdown-container px-1 mx-1 lg:hidden">
        <div class="dropdown">
          <label
            class="btn btn-ghost flex cursor-pointer px-0 w-10"
            tabindex="0"
          >
            <mat-icon>menu</mat-icon>
          </label>
          <div
            class="dropdown-menu dropdown-menu-bottom-left divide-y-2 divide-gray-200 hover:divide-gray-600"
          >
            <ng-container *ngIf="!loggedIn">
              <div class="divide-y">
                <a
                  class="dropdown-item text-sm"
                  href="/login"
                  translate
                  >navbar.login</a
                >
                <a
                  class="dropdown-item text-sm"
                  href="/register"
                  translate
                  >navbar.singup</a
                >
              </div>
            </ng-container>
            <div class="others divide-y">
              <a class="dropdown-item text-sm" href="/about" translate
                >navbar.about</a
              >
              <a class="dropdown-item text-sm" href="/contact" translate
                >navbar.contact</a
              >
              <a class="dropdown-item text-sm" href="/events" translate
                >navbar.events</a
              >
              <a class="dropdown-item text-sm" href="/ministries" translate
                >navbar.ministries</a
              >
              <a class="dropdown-item text-sm" href="/sermons" translate
                >navbar.sermons</a
              >
            </div>
            <ng-container *ngIf="loggedIn">
              <a
                class="dropdown-item text-sm"
                (click)="authService.SignOut()"
                translate
                >navbar.logout</a
              >
            </ng-container>
          </div>
        </div>
      </div>
      <ng-container *ngIf="loggedIn">
        <div
          class="avatar avatar-ring avatar-md mx-1"
          *ngIf="authService.userData as user"
        >
          <div class="dropdown-container">
            <div class="dropdown">
              <label
                class="btn btn-ghost flex cursor-pointer px-0"
                tabindex="0"
              >
                <img src="{{ user.photoURL }}" alt="avatar" />
              </label>
              <div class="dropdown-menu dropdown-menu-bottom-left">
                <a class="dropdown-item text-sm" href="/profile" translate
                  >navbar.profile</a
                >
                <a class="dropdown-item text-sm" href="/settings" translate
                  >navbar.accountsettings</a
                >
                <a
                  class="dropdown-item text-sm"
                  (click)="authService.SignOut()"
                  translate
                  >navbar.logout</a
                >
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="divide-x-2 divide-dotted divide-gray-400 hidden lg:flex mx-3">
        <a class="navbar-item" href="/login" translate>navbar.login</a>
        <a class="navbar-item" href="/register" translate>navbar.singup</a>
      </div>
    </div>
  </div>
</div>
