
<div class="list row flex w-full">
  <div class="col-md-6 flex flex-wrap place-content-center ">
    <div 
      *ngFor="let event of events; let i = index"
      class="card w-96 bg-base-100 shadow-xl m-5"
      [class.active]="i == currentIndex"
      (click)="setActiveEvent(event, i)"
    >
      <figure>
        <img
          [src]="event.event_image"
          
        />
      </figure>
      <div class="card w-96 glass h-full">

        <div class="card-body h-full">
          <h2 class="card-title">{{ event.title }}</h2>
          <p>{{ event.description }}</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary" (click)="CardInfo(event.id)">Join</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
